[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = git@github.com:hliuw/geometry-central.git
	branch = v1
